body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background-image: url('../images/jordan-pitts-jpmusic-background.jpg');
  background-repeat: no-repeat;
  background-position: center;

}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat'
    weight: 600;
}

p {
  color: #ffe3e6;
}

a {
}

/* Title Section */
#title .container-fluid {
  /* height: 100vh; */
  padding: 3% 15% 7%;
  text-align: left;
}

/* Nav Logo */
.nav-logo {
  width: 200px;
}

/* Title */
.title-message {
  padding-top: 15%;
}

/* Headings */
.big-heading {
  color: #ffe3e6;
  font-family: 'Montserrat', sans-serif;
  font-size: 5rem;
  font-weight: 900;
  line-height: 1.5;
  margin-left: 15px;
}

.small-heading {
  color: #ffe3e6;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  margin-left: 15px;
}

.contact-me a{
  color: yellow;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-left: 15px;
  text-decoration: none;
}

.contact-me a:hover{
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-left: 15px;
  text-decoration: none;
}

/* Media Setting */
@media (max-width: 1028px) {

  .nav-logo {
    margin: auto;
    width: 200px;
  }

  #title {
    text-align: center;
  }

  .title-message {
    padding-top: 50%;
  }

  .big-heading {
    color: #ffe3e6;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.4rem;
    font-weight: 900;
    line-height: 1.5;
    margin-left: 15px;
  }

  .small-heading {
    color: #ffe3e6;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
    margin-left: 15px;
  }

  .contact-me a{
    color: yellow;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
    margin-left: 15px;
    text-decoration: none;
  }

  .contact-me a:hover{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
    margin-left: 15px;
    text-decoration: none;
  }
